*{
  --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;

    --input-border-focus: #275EFE;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;

    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right,rgb(193, 157, 157),#8e8ef3,#6a85cd, #316dd4, #1a0e88);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s;
    /* background: linear-gradient(to right, #bf31d4, #ff007f); */
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
nav:hover::before {
  top: 0;
}
nav::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff94; /* Change this to the desired color */
  transition: top 1s;
  z-index: -1;
}
a{
  text-decoration: none;
  font-size: 17px;
  color: black;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li a{
    margin: 0 10px;
    padding: 10px;
    color: black;
    font-size: 20px;
    font-family: fantasy;
    text-decoration: none;
    transition: 0.5s;
 }
a:hover{
    color: rgb(45, 164, 203);
}
#app {
    max-width: 600px;
    padding: 10px 20px;
    position: relative;
    border-radius: 25px;
    background:  transparent;
    background-blend-mode:soft-light;
    display: flex;
    flex-direction: column;
    /* height:550px; */
    box-shadow: 10px 10px 30px rgba(5, 5, 5, 0.748);
}
#registerForm, #adregisterForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
}
#registerForm div, #adregisterForm div{
    margin-bottom: 10px;

}

  
.form-field {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border .3s ease;
  &::placeholder {
      color: var(--input-placeholder);
  }
  &:focus {
      outline: none;
      border-color: var(--input-border-focus);
  }
}

.form-group {
  position: relative;
  display: flex;
  width: 100%;
  & > span,
  .form-field {
      white-space: nowrap;
      display: block;
      &:not(:first-child):not(:last-child) {
          border-radius: 0;
      }
      &:first-child {
          border-radius: 6px 0 0 6px;
      }
      &:last-child {
          border-radius: 0 6px 6px 0;
      }
      &:not(:first-child) {
          margin-left: -1px;
      }
  }
  .form-field {
      position: relative;
      z-index: 1;
      flex: 1 1 auto;
      width: 1%;
      margin-top: 0;
      margin-bottom: 0;
  }
  & > span {
      text-align: center;
      padding: 8px 12px;
      font-size: 14px;
      line-height: 25px;
      color: var(--group-color);
      background: var(--group-background);
      border: 1px solid var(--group-border);
      transition: background .3s ease, border .3s ease, color .3s ease;
  }
  &:focus-within {
      & > span {
          color: var(--group-color-focus);
          background: var(--group-background-focus);
          border-color: var(--group-border-focus);
      }
  }
}
  h1,h2 {
    text-align: center;
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  form {
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
   
  }
  
 
  
  input {
    
    width: 250px;
    cursor: text;
    border-radius: 5px;
  }
  
  #add {
    background: linear-gradient(to right, #bf31d4, #ff007f);
    color: #fff;
    padding: 10px;
    border: none;
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button {
    border-radius: 20px;
    border: 1px solid #00e2fb;
    background-color: #57a4d4;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  button:hover {
    background: linear-gradient(to right,  #ff007f, #bf31d4);
  }
  
  #alumniList {
    margin-top: 20px;
  }
  
  #dashboard{
    background-color: whitesmoke;
  }